# OpenAI compatible model server
LLM__BASE_URL=http://localhost:901/v1
LLM__API_KEY=sk-mykey

# Datadog Tracing
TRACING__ENABLED=true
TRACING__APP=deep-research-v2
TRACING__SITE=ap1.datadoghq.com
TRACING__API_KEY=mykey